@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color: #0c0a09;
}
#lg-content {
  background-color: #0c0a09;
  background-repeat: none;
  background-size: cover;
  background-position-y: -18vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 576px) {
  #lg-content {
    display: none;
  }
}

#sm-content {
  display: none;
  visibility: hidden;
  overflow: hidden;
}

@media (max-width: 576px) {
  #sm-content {
    display: block;
    visibility: visible;
    background-color: #0c0a09;
    background-repeat: none;
    background-size: cover;
    flex-direction: column;
    background-position-y: 990px;
    background-position-x: -50px;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Allow scrolling on small screens */
  }
}

@keyframes load-3d {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

#img-load {
  animation: load-3d 1s ease 0s 1 normal forwards;
}

@keyframes fade-top {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#nav-logo {
  animation: fade-top 2s ease 0s 1 normal forwards;
}

@keyframes profile-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#profile {
  animation: profile-load 5s ease 0s 1 normal forwards;
}
