@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Corleone;
  src: url(../public/Corleone.TTF);
}
#footer-border {
  background-color: #d3cfc300;
}

#style-foot-link {
  font-weight: 300;
  font-size: large;
  font-family: Corleone;
}

#style-contact {
  font-family: Corleone;
  color: #dcdcdc;
  font-size: medium;
  font-weight: 200;
}

#style-link {
  font-family: Corleone;
  font-weight: 30;
}

#header1 {
  font-family: Corleone;
  font-weight: 10;
  font-size: x-large;
  color: #dcdcdc;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#style-contact-link {
  font-family: Corleone;
  font-size: x-large;
  color: whitesmoke;
}

#style-text {
  font-family: Corleone;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 100;
}

#built {
  font-family: Corleone;
  color: whitesmoke;
  font-size: 10px;
  font-weight: 100;
}

#built-sm {
  font-family: Corleone;
  color: whitesmoke;
  font-size: 13px;
  font-weight: 400;
}
